#main-container {
    height: 100%;

    padding: 0 30px;
}

#profile {
    display: flex;
    flex-direction: column;
    gap: 20px;

    font-size: 12pt;
    font-weight: 500;

    width: 150px;

    border: 1px solid black;
}

#profile-image {
    width: 6em;
    height: 6em;

    border-radius: 2em;
}

#profile-info-name {
    font-weight: 700;
}

#profile-info {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 20px 0;
}

#profile-info-like, #profile-info-star, #profile-info-ranking {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}